@mixin upperText() {
  font-size: 10px;
  font-weight: normal;
  color: #2b416c;
}
@mixin lowerText {
  font-style: italic;
  font-size: 8px;
  line-height: 15px;
  color: #7788a3;
}
@mixin imageDesign {
  width: 20px;
  height: 20px;
}
@mixin utilColumn {
  display: flex;
  align-items: center;
}
@mixin utilText {
  font-weight: normal;
  font-size: 10px;
  color: #7788a3;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 8px 5px;
  font-family: sans-serif;
  .date {
    display: flex;
    flex-direction: column;
    width: 20%;
    .dateText {
      @include upperText();
    }
    .days {
      @include lowerText();
    }
  }
  .campaign {
    width: 40%;
    display: flex;
    img {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
    .info {
      display: flex;
      flex-direction: column;
      .campaignName {
        @include upperText();
      }
      .region {
        @include lowerText();
      }
    }
  }
  .view {
    width: 20%;
    @include utilColumn();
    img {
      @include imageDesign();
      margin-right: 8px;
    }
    .pricing {
      @include utilText();
    }
  }
  .action {
    width: 30%;
    justify-content: space-between;
    @include utilColumn();
    .wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      .csv {
        width: 15px;
        height: 20px;
        margin-right: 5px;
      }
      .calendarImg {
        @include imageDesign();
        margin-right: 5px;
      }
      .reportImg {
        @include imageDesign();
        margin-right: 5px;
      }
      .file {
        @include utilText();
      }
      .report {
        @include utilText();
      }
      .calendar {
        @include utilText();
      }
    }
  }
}
